input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 10px solid red;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

.e3ds_bottom_panel,
.e3ds_bottom_panel_left {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
}

.e3ds_bottom_panel_left {
  width: 50%;
}

.left {
  left: 0px;
  right: 200px;
}

.e3ds_bottom_panelVoip {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
}

.e3ds_bottom_panel_controlsVoip {
  position: fixed;
  bottom: 28px;
  right: 44px;
  background: #000000aa;
  display: flex;
  transition: 250ms ease-in;
  place-items: center;
  position: fixed;
  bottom: 28px;
  right: 0px;
  left: 0px;

  margin: 0;
}


.e3ds_control_toggleVoip {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 28px;
  right: 0px;
  height: 44px;
  width: 44px;
  margin: 0;
  border: none;
  background: #000000aa;
  color: white;
  transition: 200ms;
  cursor: pointer;
}

.e3ds_control_toggleVoip:hover {
  background: #444;
}


.e3ds_control_toggle_iconVoip img {
  color: white;
  transition: 250ms;
  height: 44px;
  width: 44px;
  place-items: center;
  position: fixed;
  bottom: 28px;
  right: 0px;
  left: 0px;
  height: 44px;
  width: 44px;
  margin: 0;
}


.voip-icon {
  background: #00000060 0% 0% no-repeat padding-box;
  padding: 8px;
}

.voip-icon:hover {
  background: #000000aa 0% 0% no-repeat padding-box;
}

.voip-icon img {
  width: 27px;
  padding: 4px;
}

.e3ds_bottom_panel_controls,
.e3ds_bottom_panel_controls_left {
  position: fixed;
  left: 44px;
  background: #00000060;
  display: flex;
  transition: 250ms ease-in;
}

.e3ds_bottom_panel_controls_left {
  left: 44px;
  width: fit-content;
  background: transparent;
}

.e3ds_bottom_panel_controls>button {
  width: 44px;
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.e3ds_bottom_panel_controls_left>button {
  width: 44px;
  margin: 0px;
  padding: 0px;
  border: none;
  color: white;
  cursor: pointer;
}


.e3ds_bottom_panel_controls .e3ds_active_control_button {
  background-color: dodgerblue;
  color: white;
}


.e3ds_bottom_panel_controls button img,
.e3ds_bottom_panel_controls_left button {
  height: 45px;
  width: 45px;
}

.e3ds_controls_fsc {
  background: transparent;
  color: white;
  font-weight: 900;
  font-size: 26px;
  transform: translateY(5px);
  width: 45px;
  height: 45px;
}

.fullscreen_btn {
  background: transparent;
  color: white;
  font-weight: 900;
  font-size: 26px;
  transform: translateY(5px);
  width: 45px;
  height: 45px;
  padding: 4px;
}

.e3ds_bottom_panel_controls button:hover {
  background: #444;
}

.e3ds_bottom_panel_controls_left button:hover {
  background: #000000aa;
}

.bottom-controlpanel-container {
  position: absolute;
  bottom: 100px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.hide {
  display: none !important;
  /* margin-left: -400px; */
}

.e3ds_control_toggle_left {
  display: grid;
  place-items: center;
  position: fixed;
  right: 0px;
  width: 48px;
  margin: 0;
  border: none;
  background: #000000aa;
  color: white;
  transition: 200ms;
  cursor: pointer;
}

.e3ds_control_toggle {
  display: grid;
  place-items: center;
  position: fixed;
  left: 0px;
  width: 48px;
  margin-bottom: 100px;
  border: none;
  background: #000000aa;
  color: white;
  transition: 200ms;
  cursor: pointer;
}


.e3ds_control_toggle:hover {
  background: #444;
}

.e3ds_control_toggle_left:hover {
  background: #444;
}

.e3ds_control_toggle_icon img {
  color: white;
  transition: 250ms;
  width: 44px;
}

.e3ds_control_toggle_icon_left img {
  color: white;
  transition: transform 1s;
  width: 44px;
  padding: 8px;
}