.slider-container {
  position: absolute;
  z-index: 11;
  display: flex;
  background: rgba(90, 20, 150, 0.8);
  right: 8px;
  bottom: 8px;
  max-width: 400px;
  font-size: 1.5em;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

.slider-container-left {
  left: 8px;
  width: fit-content;
}

.toggle-img-expanded,
.toggle-img-collapsed {
  width: 40px;
}

.img-icon {
  width: 40px;
}

.robin-alert {
  opacity: 0.8;
  position: absolute;
  z-index: 100;
  top: 1em;
}
