#queueNumberText {
	color: #1c477f;
  position: relative;
  text-align: center;
}

#player {
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}



#skip_video {
	position: absolute;
    right: 0.5em;
    bottom: 3.2em;
    border: 2px solid white;
    padding: 0.5em;
    font-size: 1.5em;
    background: black;
    z-index: 100;
    color: white;
    /* background: transparent; */
}

#streamingVideo {
  background-color: transparent;
}
 /*
video::-webkit-media-controls {
  display: block;
} */

/* Could Use thise as well for Individual Controls */



video::-webkit-media-controls-play-button {display: none;}
video::-webkit-media-controls-timeline {display: none;}
 /*
video::-webkit-media-controls-volume-slider {display: block;}

video::-webkit-media-controls-mute-button {display: block;}

video::-webkit-media-controls-timeline {display: block;}

video::-webkit-media-controls-current-time-display {display: block;}
*/

